/* Global scope styles */
.container.fluid {
  padding: 0;
  margin: 0;
  max-width: 100% !important; }

.flex-box {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif; }

ul {
  list-style: none;
  padding-left: 10px; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

input:focus {
  outline: none !important; }

.breadcrumb {
  background: none;
  margin-top: 128px; }

footer {
  margin-top: 20px; }

/* Component scope styles */
/* Navbar CSS */
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 64px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border-radius: 0; }
  .navbar a {
    margin: 0.5em; }
  .navbar > div {
    width: 33%;
    padding: 0 5% !important;
    line-height: 4em;
    display: inline-block; }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .navbar ul.right-align li {
      float: right; }
    .navbar ul.left-align li {
      float: left; }
  .navbar .iconmenu-wrapper {
    font-size: 1.4em; }
  .navbar .menu-wrapper li .submenu-wrapper {
    display: none;
    position: absolute; }
  .navbar .menu-wrapper li:hover .submenu-wrapper {
    display: block; }
  .navbar .search-wrapper .form-wrapper form input {
    font-size: 14px;
    border-color: #909090;
    border-style: solid;
    padding: 5px;
    line-height: normal; }
  .navbar .search-wrapper a.close-toggle, .navbar .search-wrapper .form-wrapper {
    display: none; }
  .navbar .search-wrapper:hover a.close-toggle, .navbar .search-wrapper:hover .form-wrapper {
    display: inline-block;
    line-height: normal; }
  .navbar .search-wrapper:hover a.open-toggle {
    display: none; }
  .navbar .logo {
    color: black;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em; }
  .navbar.main .logo {
    color: white; }
  .navbar.background {
    background-color: white; }
    .navbar.background .logo {
      color: black; }
    .navbar.background.main .logo {
      color: black; }

.footer {
  background-color: #fafafa; }
  .footer .row > div {
    margin-top: 15px; }
  .footer h4 {
    margin-bottom: 10px; }
  .footer ul li {
    margin-top: 10px; }
  .footer .subscription-form > div {
    display: inline-block; }
  .footer .social-icons {
    margin-top: 10px;
    display: inline-block;
    font-size: 24px; }

.home {
  width: 100; }
  .home > section {
    margin-bottom: 50px; }
  .home .image-slide {
    height: 100vh;
    background-image: url("./img/WDF_790401.jpg");
    background-color: #1E3E4E;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .home .promo-wrapper .row > div {
    height: 350px;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    .home .promo-wrapper .row > div.our-story {
      background-image: url("./img/ourstory.jpg"); }
    .home .promo-wrapper .row > div, .home .promo-wrapper .row > div.new-arrival {
      background-image: url("./img/newarrival.jpg"); }
    .home .promo-wrapper .row > div span {
      padding: 15px;
      font-size: 2em;
      border: 3px solid white; }

.product-grid .image-wrapper img {
  width: 100%; }

.product-grid .product-info {
  text-align: center; }
  .product-grid .product-info span {
    font-size: 1.1em; }

.product-detail .product-info .row {
  margin: 10px 0; }

.product-detail .product-info .name {
  font-size: 3em; }

.product-detail .product-info .price {
  font-size: 2.5em; }

.product-detail .product-info .tab-content ul {
  padding: 20px 0 20px 20px;
  list-style-type: circle; }

.product-detail .product-info .tab-content p {
  padding: 20px 0; }

.product-detail .product-image .image-slide {
  height: 100vh;
  background-image: url("./img/StLouis-Audubon-Blue-Website-Quarters_1024x1024.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.add-cart input {
  width: 100%;
  color: #FD3F7B;
  border: 2px solid #FD3F7B;
  border-radius: 15px;
  text-align: center;
  padding: 5px 10px;
  /* transition:  all 0.5s ease;   */ }

.add-cart button {
  overflow: hidden;
  background-color: #fff;
  width: 105px;
  height: 34px;
  color: #FD3F7B;
  border: 2px solid #FD3F7B;
  padding: 4px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  /* transition: all 0.8s ease; */ }

.cart-list .cart-table .thumbnail {
  margin: 0; }

.cart-list .cart-table tbody tr td {
  vertical-align: middle; }

.cart-list button {
  overflow: hidden;
  background-color: #fff;
  width: 105px;
  height: 34px;
  color: #FD3F7B;
  border: 2px solid #FD3F7B;
  padding: 4px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize; }
